# Pip packages required for running the python build scripts
# To install the packages: `pip install -r requirements.txt`

# Packages versions locked when using these versions of python and pip:
# Python 3.7.6
# pip 20.0.2

# Library for parsing the yaml files with the recipes and so on
PyYAML==5.3

# Library for producing html files from the jinja-templates (.html files) in the `templates/` folder
Jinja2==2.11.1

# Library for compiling the less files in the the `templates/` folder to css
lesscpy==0.14.0

Pillow==7.0.0

# Not sure where these came from, but `pip freeze` outputted them in a venv, so I guess they should be included
MarkupSafe==1.1.1
ply==3.11
six==1.14.0
