.nav {
	font-weight: bold;
	font-size: 1.2em;
	background-color: @green; // Makes sure potential padding to the sides of the list gets the same color.
	// color: @on-navbar-green;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: @green; // Ensures that the dorp-down choices get the right color.
		li {
			ul {
				display: none;
				visibility: hidden;
				position: absolute;
				z-index: 2;
				li {
					clear: both;
					width: 100%;
				}
				&:hover {
					visibility: visible;
					display: flex;
					flex-direction: column;
				}
			}
			&:hover, &:focus-within {
				background-color: @green-light;
				&>ul {
					visibility: visible;
					display: flex;
					flex-direction: column;
				}
				a {
					outline: none;
				}
			}
		}
	}
}

@nav-box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 6px 6px rgba(0,0,0,0.23);

.desktop-nav {
	.nav;
}

.mobile-nav {
	.nav;
	font-family: @serif-fonts;
}

.media-above-wider-nav {
	.desktop-nav {
		display: grid;
		// Try to approximately mathch the `.three-col` setup in main.less.
		// ToDo: get rid of the e("") wrapping once the less library has been fixed.
		grid-template-columns:
			e("[left-column-grid-start]")
			8%
			e("[left-column-grid-end center-column-grid-start]")
			auto
			e("[center-column-grid-end right-column-grid-start]")
			8%
			e("[right-column-grid-end]");
		ul {
			grid-column-start: center-column-grid-start;
			grid-column-end: center-column-grid-end;
		}
	}
}

.media-above-cutoff-nav {
	.desktop-nav {
		box-shadow: @nav-box-shadow;
		ul {
			li {
				height: 100%;
				float: left;
				a {
					color: @on-navbar-green;
					text-decoration: none;
					display: inline-block;
					text-align: center;
					padding: 0.2em;
					// padding: 14px 16px;
					width: 12em;
				}
			}
		}
	}
	.mobile-nav {
		display: none;
	}
}

.media-below-almost-cutoff-nav {
	.desktop-nav {
		display: none;
	}
	.mobile-nav {
		box-shadow: @nav-box-shadow;
		ul {
			li {
				&:nth-child(n+2) { // Applies to all elements except the first
					border-top: 1px solid black;
				}
				display: flex;
				flex-direction: column;
				padding: 4px 16px;
				font-size: 1.2em;
				a {
					color: @on-navbar-green;
					text-decoration: none;
				}
				ul {
					position: initial;
					font-size: 0.75em;
				}
			}
		}
	}
}

.media-print-nav {
	.desktop-nav {
		display: none;
	}
	.mobile-nav {
		display: none;
	}
}
