#intro {
  img {
    width: 100%;
  }
  h1 {
    font-size: 2em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
  }
}

.media-print-recipe-intro{
  #intro{
    img{
      display: none;
    }
  }
}

#metadata{
  .recipe-date, .recipe-source {
    margin-left: 0.75em;
    font-size: 0.85em;
  }
  .recipe-date { margin-bottom: 0.5em; }
  .recipe-source { margin-top: 0.5em; }
}

#steps{
  padding-bottom: 0.5em; // Ensures that there is a bit of breathing room after the last step, which helps the icons not overflow.
}

svg {
  circle {
    stroke-width: 0em; /* 0.1em */
    //fill: @grey;
    &.hot      {fill: @red-dark;}
    &.warm     {fill: @orange-dark;}
    &.room     {fill: @yellow-dark;}
    &.cold     {fill: @lightblue-dark;}
    &.freezing {fill: @blue-dark;}
    &.done     {fill: @green-dark;}
  }
}

.ingredient-container {
  background: @super-light-grey;
  .step-ingredient-list {
    ul {
      padding-top: 0;
      flex-direction: row;
      flex: 1;
      flex-wrap: wrap;
      li {
        display: inline-block;
        margin-right: 1.5em;
        .comment {
          display: none;
        }
      }
    }
  }
}

.media-above-wider-step{
  #recipe-ingredients-and-scaling-group{
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  #steps{
    hr{
      margin-top: 0;
    }
    .step{
      background: @super-light-grey;
      display: grid;
      grid-template-columns: 1fr 3fr;
      .ingredient-container{
        .step-ingredient-list{
          ul{
            li{
              display: block;
              margin-right: 0;
              .comment {
                display: initial;
                font-style: italic;
              }
            }
          }
        }
      }
      .description-container{
        background: @grey-light;
        grid-column-start: 2;
        padding-bottom: 0.75em;
      }
    }
  }
}

.description-container {
  display: flex;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
}

.step-icon {
  align: right;
  width: 1.5em;
  height: 1.5em;
  margin-left: 5px;
  margin-right: 5px;
  img {
    width: 1.5em;
    padding: 3px;
    padding-left: 20px;
  }
}

.step-description {
  flex: 1;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.media-print-steps{
  #steps{
    .step{
      page-break-inside: avoid;
    }
  }
}
