@scaling-form-input-fields-font-size: 0.7em;

#scaling {
	form {
		#reset-button {
			font-size: 1em;
			margin-left: 1em;
			margin-bottom: 0.5em;
			margin-top: 0.5em;
		}
		input, button, select {
			font-size: @scaling-form-input-fields-font-size;
			display: inline-block;
		}
	}
}

.media-above-wider-scaling-form {
	#scaling {
		form {
			display: flex;
			flex-direction: column;
			#reset-button {
				max-width: 5em;
			}
		}
	}
}

.media-between-cutoff-and-wider-scaling-form {
	#scaling {
		padding-left: 1em;
		padding-right: 1em;
		form {
			fieldset {
				display: inline-block;
			}
		}
	}
}

.media-below-tiny-scaling-form {
	#scaling {
		form {
			input, button, select {
				display: block;
			}
			#percent-number {
				display: inline-block;
			}
			#percent-slider {
				padding-top: 0.5em;
			}
			button {
				margin-top: 0.5em;
			}
		}
	}
}

.media-print-scaling-form {
	#scaling {
		display: none;
	}
}
