@scaling-form-input-fields-font-size: 0.7em;

#scaling{
	form{
		#reset-button{
			font-size: 1em;
			margin-left: 1em;
			margin-bottom: 0.5em;
			margin-top: 0.5em;
			display: block;
		}
		input, button, select {
			font-size: @scaling-form-input-fields-font-size;
			display: inline-block;
		}
	}
}

.media-above-cutoff-scaling-form{
	#scaling{
		form{
			fieldset{
				display: inline-block;
			}
		}
	}
}

.media-below-tiny-scaling-form{
	#scaling{
		form{
			input, button, select {
				display: block;
			}
			button{
				margin-top: 0.5em;
			}
		}
	}
}

.media-print-scaling-form{
	#scaling{
		display: none;
	}
}
