@size-wider: 120em;
@size-wider-almost: 119.99em;
@size-cutoff: 70em;
@size-cutoff-almost: 69.99em;
@size-tiny: 45em;

@media (min-width: @size-wider) {
	.media-above-wider-recipe;
	.media-above-wider-scaling-form;
}

@media (min-width: @size-cutoff) and (max-width: @size-wider-almost) {
	.media-between-cutoff-and-wider-scaling-form;
}

@media (min-width: @size-cutoff){
	.media-above-cutuoff-nav-desktop;
	.media-above-cutuoff-nav-mobile;
	.media-above-cutuoff-three-col;
	.media-above-cutuoff-empty-col-left;
	.media-above-cutuoff-empty-col-right;
	.media-above-cutuoff-content;
	.media-above-cutoff-info-col;
	.media-above-cutoff-scaling-form;
	.media-above-cutoff;
}

@media (max-width: @size-cutoff-almost) {
	.media-below-almost-cutoff-nav-desktop;
	.media-below-almost-cutoff-nav-mobile;
	.media-below-almost-cutoff-header;
	.media-below-almost-cutoff-content;
	.media-below-almost-cutoff-timeline;
	.media-below-almost-cutoff;
}

@media (max-width: @size-tiny) {
	.media-below-tiny-body;
	.media-below-tiny-timeline;
	.media-below-tiny-ingredients-table;
	.media-below-tiny-scaling-form;
	.media-below-tiny-recipe;
}

@media print {
	.media-print-scaling-form;
	.media-print-nav;
	.media-print-header;
	.media-print-ingredients-table;
	.media-print-timeline;
	.media-print-recipe;
	.media-print-body;
}
