{% extends 'base.html.jinja' %}
{% block title %}About{% endblock %}
{% block meta_description %}About{% endblock %}

{% block content %}
  <section id="about-page-main-section">
    <h1>About Makimono</h1>
    <p>
      This project started out by that we wanted to have a place to collect, view, and not least share the recipes we like to use with our friends.
      The recipes have various origins, but mostly come from family and friends, some stuff we found online with some research (but with our own twists), and a couple originals.
    </p>
    <p>
      Practically there have been many motivating factors for making this site.
      It is annoying to convert from cups all the time, which motivated us have a way to save recipes in a format that is easier for us to work with.
      Also.. modifications, we needed a place to take notes.
      Other recipe sites did often not "flow" right, using multiple hours to preheat the oven or having a recipe that needs to rest overnight take 3 hours to complete.
      Also, wanted to avoid scrolling past someone life story to get to a recipe.
      In short, nothing seemed like the right place to get recipes from, so we made our own.
    </p>
    <p>
      The recipes you will find on this site usually use metric weights as units.
      They will not have hidden steps like "shredded carrots" in the ingredient list.
      You will not have to scroll past a blog post to get to the recipe.
      Ingredient amounts are included in the recipe steps, so if you want, you can place a bowl on the kitchen weight and measure ingredients as you go.
    </p>
    <p>
      On the technical side, we also want to make a site that is snappy, and works well on our various devices.
      A common annoyance is tons of screen realestate wasted on whitespace on wider (and just generally on bigger) monitors,
      so we put in work to make it work well with widths of up to at least 5120px (5k resolution),
      and physical widths somewhat above 1 meter wide when used in a normal work/gaming desktop setting.
      At the same time we have also strived for making it scale so that it work well on the smallest device we've ever considered using it on, an old iPhone SE (320x568px).
      Just for fun we also tried to make them print nice. For the sake of performance we do it all with CSS.
    </p>

    <h2>The authors</h2>
    <p>Made by Ilse and Simon.</p>

    <h2>Technology used</h2>
    <p>This page is made as a set of static pages, generated using python, jinja2, and a custom template format based off yaml.</p>
    <p>You can check out the code on GitHub: <a href="https://github.com/irxess/Makimono-Generator">https://github.com/irxess/Makimono-Generator</a>.</p>

    <h2>Privacy</h2>
    <p>
      We don't collect anything.
      (Except recipes =P)
    </p>
    <p>But seeing as you are (probably) reading this on the internet, we assume you know that every government on the face of the planet that has security services with a presence on the internet knows that you are reading this, as do most likely any other enterprises interested in your activity.</p>
  </section>
{% endblock %}
