{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block meta_description %}About{% endblock %}

{% block content %}
<main id="content">
  <section id="about-page-main-section">
    <h1>About Makimono</h1>
    <p>
      This project started out by that we wanted to have a place to collect, view, and not least share the recipes we like to use with our friends.
      The recipes have various origins, but mostly come from family and friends, some stuff we found online with some research (but with our own twists), and a couple originals.
    </p>

    <h2>The authors</h2>
    <p>Made by Ilse and Simon.</p>

    <h2>Technology used</h2>
    <p>This page is made as a set of static pages, built using python, jinja2, and a custom template format based off yaml.</p>

    <h2>Privacy</h2>
    <p>
      We don't collect anything.
      (Except recipes =P)
    </p>
    <p>But seeing as you are (probably) reading this on the internet, we assume you know that every government on the face of the planet not half-assing their security services knwos that you are reading this, and probably also any other enterprises interested in your activity.</p>
  </section>
</main>
{% endblock %}
