<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{path_to_base}}/css/main.css">
    {% block page_specific_scripts %}{% endblock %}
    <title>{% block title %}{% endblock %} - Makimono</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{% block meta_description %}{% endblock %}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{path_to_base}}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{path_to_base}}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{path_to_base}}/favicon-16x16.png">
    <link rel="manifest" href="{{path_to_base}}/site.webmanifest">
    <link rel="mask-icon" href="{{path_to_base}}/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#558b2f">
  {% endblock %}
</head>
<body>
  <header>
    Makimono
  </header>
  {% with nav_type='desktop-nav' %}{% include 'nav.html' %}{% endwith %}
  {% with nav_type='mobile-nav' %}{% include 'nav.html' %}{% endwith %}

  <div id="three-col">
    <div id="empty-col-left"></div>

    <main id="content" role="main">
    {% block content %}
    {% endblock %}
    </main>

    <div id="empty-col-right"></div>

  </div> <!-- end three-col -->
  {% with nav_type='mobile-nav' %}{% include 'nav.html' %}{% endwith %}
  {% include 'footer.html' %}
</body>
</html>
