{% extends 'base.html' %}
{% block title %}Dilution/mixing calcluator{% endblock %}
{% block meta_description %}Dilution/mixing calcluator{% endblock %}
{% block page_specific_scripts %}
	<script type="text/javascript">
		function roundNumber(number, decimalPlaces) {
			return +(Math.round(number + "e+" + decimalPlaces)  + "e-" + decimalPlaces);
		}
		function calculateAmountIfTargetFixed({concentration, concentrationOther, concentrationFinal, amountTotal} = {}) {
			amount = amountTotal * (concentrationFinal - concentrationOther)/(concentration - concentrationOther);
			return roundNumber(amount, 2)
			// Calculation:
			// c1*a1 + c2*a2 = cf * at
			// a1*c1 + (at - a1)*c2 = at*cf
			// a1*c1 -a1*c2 + at*c2 = at*cf
			// a1*(c1 - c2) = at*(cf - c2)
			// a1 = at*(cf-c2)/(c1-c2)
		}
		function calculateAmountIfOtherFixed({concentration, concentrationOther, concentrationFinal, amountOther} = {}){
			amount = amountOther * (concentrationOther - concentrationFinal) / (concentrationFinal - concentration);
			return roundNumber(amount, 2)
			// Calculation:
			// c1*a1 + c2*a2 = cf * at
			// c1*a1 + c2*a2 = cf * (a1 + a2)
			// c1*a1 + c2*a2 = cf*a1 + cf*a2
			// c1*a1 - cf*a1 = cf*a2 - c2*a2
			// c1*a1 - cf*a1 = (cf - c2) * a2
			// (c1*a1 - cf*a1)/(cf - c2) = a2
			// ((c1 - cf)*a1)/(cf - c2) = a2
		}
		function findNeededAmounts() {
			var a1 = document.getElementById('amount_1');
			var c1 = document.getElementById('concentration_1');
			var a2 = document.getElementById('amount_2');
			var c2 = document.getElementById('concentration_2');
			var at = document.getElementById('amount_target');
			var cf = document.getElementById('concentration_final');

			a1.value = calculateAmountIfTargetFixed({concentration: c1.value, concentrationOther: c2.value, concentrationFinal: cf.value, amountTotal: at.value });
			a2.value = calculateAmountIfTargetFixed({concentration: c2.value, concentrationOther: c1.value, concentrationFinal: cf.value, amountTotal: at.value });
		}
		function clearForm() {
			document.getElementById('amount_1').value = '';
			document.getElementById('concentration_1').value = '';
			document.getElementById('amount_2').value = '';
			document.getElementById('concentration_2').value = '';
			document.getElementById('amount_target').value = '';
			document.getElementById('concentration_final').value = '';
		}
	</script>
{% endblock %}
{% block content %}
<main id="content">
	<h1>Dilution calculator</h1>
	<p>Here is a small tool for diluting liquids to get a result having a desired strength.</p>
	<form>
		<button type="button" onclick="clearForm()">Clear all values</button>
		<fieldset>
			<legend>First thing you want to mix</legend>
			<label for="amount_1">Amount</label>
			<input type="number" id="amount_1" min="0" step="any" disabled />
			*
			<label for="concentration_1">Concentration (Strength of one of the things you are mixing)</label>
			<input type="number" id="concentration_1" min="0" step="any" />
		</fieldset>
		+
		<fieldset>
			<legend>Other thing you want to mix</legend>
			<label for="amount_2">Amount</label>
			<input type="number" id="amount_2" min="0" step="any" disabled />
			*
			<label for="concentration_2">Concentration (Strength of the other you are mixing)</label>
			<input type="number" id="concentration_2" min="0" step="any" />
		</fieldset>
		=
		<fieldset>
			<legend>Resulting mixture</legend>
			<label for="amount_target">Desired total amount</label>
			<input type="number" id="amount_target" min="0" step="any" />
			*
			<label for="concentration_final">Final concentration (Strength you want the final mixture to have)</label>
			<input type="number" id="concentration_final" min="0" step="any" />
			<button type="button" onclick="findNeededAmounts()">Figure out amounts needed</button>
		</fieldset>
	</form>
	<section id="examples">
		<h2>Examples</h2>
		<h3>Diluting vinegar</h3>
			<ol>
				<li>50 ml vinegar * 30% acid</li>
				<li>add 100 ml water * 0% acid</li>
				<li>yields 150 ml vinegar * 10% acid</li>
			</ol>
			<h3>Using butter and milk to get liquid with same fat percentage as cream</h3>
			<ol>
				<li>butter - amount 52.55 grams, concentration 82% fat</li>
				<li>milk - amount 197.45 grams, concentration 3.5% fat</li>
				<li>gives the amount 250 grams, with the concentration 20% fat</li>
			</ol>
	</section>
	<section id="notes">
		<h2>Notes</h2>
		<p>Important things to note about the utility:</p>
		<ul>
			<li>The units used for amount and concentration can be anything, it still works out the same. That is, it doesn't matter if the concentration is in grams per liter or percent, or if the amount is in grams, liters, etc.</li>
			<li>The amounts have to be of a consistent type. If your total desired amount is in milliliters, the suplied amounts have to be milliliters.</li>
			<li>The concentrations have to be of a consistent type. If you are using percent for the concentration, all the concentration fields have to be in percent.</li>
		</ul>
	</section>
</main>
{% endblock %}
