{% extends 'base.html' %}
{% block title %}{{ Recipes }} Recipes{% endblock %}
{% block meta_description %}{{ Recipes }}{% endblock %}

{% block content %}
<main id="content">
  {% if (paginated_pages is defined) and paginated_pages|length > 1 %}
    {% include 'pagination_menu.html' %}
  {% endif %}
  <ol id="list-of-recipes">
    {% for thumbnail in chunk_of_thumbnails %}
      <li class="recipe-in-list">
        {% if (thumbnail.image is defined) and thumbnail.image %}
        <a href="{{ thumbnail.url }}">
          <img src="{{ thumbnail.image }}">
        </a>
        {% endif %}
        <a href="{{ thumbnail.url }}">
          <h1 class="recipe-name-in-list">{{ thumbnail.name }}</h1>
        </a>
        <p class="recipe-updated-date">Updated on {{ thumbnail.date }}</p>
      </li>
    {% endfor %}
  </ol>
  {% if (paginated_pages is defined) and paginated_pages|length > 1 %}
    {% include 'pagination_menu.html' %}
  {% endif %}
</main>
{% endblock %}
