@background-dark: #333;
@grey-light: #F5F5F5;
@super-light-grey: #d9d9d9;
@text-color-dark: #212121;
@nav-background-green-light: #8BC34A;
@nav-background-green-dark: #689F38;
@nav-text-color: #FFFFFF;
@header-background-grey: #616161;

header {
  text-align: center;
  font-family: "Lucida Bright", "Palatino", "Times New Roman", "serif";
  font-weight: bolder;
  background-color: @header-background-grey;
  color: @grey-light;
  padding: 16px 0 5px 0; /* top, right, bottom, left */
  font-size: 3.5em;
}

.three-col {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: "Candara", "Gill Sans", "Helvetica", "Arial", "sans-serif";
  background-color: @background-dark;
  .three-col;
}

#three-col {
  .three-col;
  @media (min-width: 721px) {
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
  }
}

ul {
  list-style-type: none;
  margin: 0em;
  padding: 1em;
  padding-bottom: 0.5em;
}

h2 {
  font-size: 1.5em;
  margin-left: 2em;
  margin-bottom: 0em;
}

h3 {
  margin-top: 0em;
  margin-bottom: 0em;
}

hr {
  color: @background-dark;
  background-color: @background-dark;
  border-color: @background-dark;
  margin-bottom: 0;
}

.step-ingredient-list {
  ul {
    background: #ddd;
    padding-top: 0;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    li {
      display: inline-block;
      margin-right: 1.5em;
    }
  }
}

.nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8BC34A;
  }
  li {
    a {
      &:hover {
        background-color: @nav-background-green-dark;
      }
    }
  }
}

#desktop-nav {
  .nav;
  @media (min-width: 721px) {
    box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 6px 6px rgba(0,0,0,0.23);
    ul {
      li {
        float: left;
      }
      a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        width: 90px;
      }
    }
  }
  @media (max-width: 720px) {
    display: none;
  }
}

#mobile-nav {
  .nav;
  @media (min-width: 721px) {
    display: none;
  }
  @media (max-width: 720px) {
    box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 6px 6px rgba(0,0,0,0.23);
    ul {
      li {
        a {
          display: flex;
          flex-direction: column;
          color: white;
          padding: 14px 16px;
          text-decoration: none;
        }
      }
    }
  }
}

#empty-col-left {
  /* put this on the left */
  order: -1;
  @media (min-width: 721px) {
    flex: 0 0 12em;
  }
}

#empty-col-right {
  @media (min-width: 721px) {
    flex: 0 0 12em;
  }
}

#content {
  background-color: @grey-light;
  color: @text-color-dark;
  margin-top: 1.5em;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  @media (min-width: 721px) {
    flex: 1;
  }
  @media (max-width: 720px) {
    margin-top: 0em;
  }
}

#intro {
  img {
    width: 100%;
  }
  h1 {
    font-size: 2em;
    margin-left: 0.5em;
  }
}

.steps {
  li {
    text-align: left;
    b {
      display: inline-block;
      text-align: right;
      min-width: 4em;
    }
  }
}

svg {
  width: 97%;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  align-items: center;
}
circle {
  stroke-width: 1;
  stroke: #AAA;
    .hot      {fill:#f1473b;}
    .warm     {fill:rgb(237,112, 14);}
    .room     {fill:#F7C210;}
    .cold     {fill:#14DAF1;}
    .freezing {fill:rgb( 20,114,241);}
    .done     {fill:#AF3;}
}
line {
  stroke-width: 3px;
  stroke: #AF3;
  .hot      {stroke:#f1473b;}
  .warm     {stroke:rgb(237,112, 14);}
  .room     {stroke:#F7C210;}
  .cold     {stroke:#14DAF1;}
  .freezing {stroke:rgb( 20,114,241);}
  .done     {stroke:green;}
}


#ingredients {
  .steps;
}

.scrolling {
    position: fixed;
    top: 0;
}

.hide {
  width: 100%;
  visibility: hidden;
}

.nodisplay {
  display: none;
}

.description-container {
  display: flex;
  margin-top: 0.5em;
  padding-bottom: 0.3em;
}

.step-icon {
  align: right;
  img {
    width: 30px;
    padding: 3px;
    padding-left: 20px;
  }
}

.step-description {
  flex: 1;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#info {
  margin: 1em 0em 0.5em 0em;
  background-color: #9E9E9E;
  padding: 0.4em;
  color: @grey-light;
}

#info-col {
  @media (min-width: 721px) {
    margin-left: 12em;
    margin-right: 12em;
    flex-basis: 100%;
  }
}

#flavor-text {
  font-style: italic;
  margin: 0.75em;
}

#list-of-recipes {
  list-style: none; // Remove numbering from ordered list of recipes
  li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
    a{
      text-decoration: none;
      color: @text-color-dark;
      h1{
        padding: 0;
        margin: 0;
      }
    }
    p{
      padding-top: 0;
      margin-top: 0;
      color: @header-background-grey;
    }
  }
}

.pagination-menu-wrapper{
  text-align: center;
  .pagination-menu{
    display: inline-block;
    a{
      color: @text-color-dark;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color .3s;
      border: 1px solid @super-light-grey;
      margin-top: 0.5em;
      margin-bottom: 0.1em;
    }
    .current-page {
      background-color: @nav-background-green-light;
      color: @nav-text-color;
      border: 1px solid @nav-background-green-light;
    }
    a:hover:not(.current-page) {
      background-color: @super-light-grey;
    }
  }
}
