{% extends 'base.html' %}
{% block title %}{{ r.recipe }} Recipe{% endblock %}
{% block meta_description %}{{ r.recipe }}{% endblock %}

{% block content %}
<main id="content">
  <section id="intro">
    <h1>{{ r.recipe }}</h1>
    <img src="images/{{ r.image }}.png">
  </section>

  <section id="ingredients">
    <h2>Shopping list</h2>
    <ul>
      {% for i in r.ingredients %}
        <li><b>{{i.amount}} {{i.unit}}</b> {{ i.name }}</li>
      {% endfor %}
    </ul>
  </section>

  <section id="steps">
    <h2>Directions</h2>
    <img id="map" src="images/fish-bone.svg">
    <img id="placeholder" src="images/fish-bone.svg">

    {% for s in r.steps %}
    <div class="step">
      {% if (s.ingredients is defined) and s.ingredients %}
      <div class="ingredient-container">
        <div class="step-ingredient-list">
            <ul>
              {% for i in s.ingredients %}
                <li><b>{{r.ingredients[i].amount}} {{r.ingredients[i].unit}}</b> {{ r.ingredients[i].name }}</li>
              {% endfor %}
            </ul>
        </div>
      </div>
      {% endif %}

      <div class="description-container">
        <div class="step-icon">
          <img src="images/hot.svg">
        </div>
        <div class="step-description">
            <b>{{ s.short }}: </b>
            {{ s.description }}
        </div>
      </div>
    </div>
    <hr>
    {% endfor %}


    <div class="step">
      <div class="ingredient-container">
        <div class="step-ingredient-list">
          <ul>
            <li><b>2 tsp</b> vanilla essence</li>
            <li><b>4</b> egg yolks</li>
            <li><b>20 g</b> sugar</li>
          </ul>
        </div>
      </div>

      <div class="description-container">
        <div class="step-icon">
          <img src="images/hot.svg">
        </div>
        <div class="step-description">
          <b>Add vanilla essence, yolks and sugar: </b>
          Add the vanilla essence, yolks and 20g of sugar and whisk until frothy and well combined.
        </div>
      </div>
    </div>

  </section>

  <p id="flavor-text">
    {{ r.description }}
  </p>
</main>
{% endblock %}
