{% extends 'base.html' %}
{% block title %}{{ r.recipe }} Recipe{% endblock %}
{% block meta_description %}{{ r.recipe }}{% endblock %}

{% block content %}
<main id="content">

  <section id="intro">
    <h1>{{ r.recipe }}</h1>
    {% if (r.image is defined) and r.image %}
        <img src="images/{{ r.image }}">
    {% endif %}
  </section>

  {% if (r.description is defined) and r.description %}
  <p id="flavor-text">
    {{ r.description }}
  </p>
  {% endif %}

  <section id="ingredients">
    <h2>Ingredients</h2>
    <hr>
    <ul>
      {% for i in r.ingredients %}
        <li><b>{{i.amount}} {{i.unit}}</b> {{ i.name }}</li>
      {% endfor %}
    </ul>
  </section>

  <section id="timeline">
    {% if (r.timeline is defined) %}
      {% include 'timeline.html' %}
    {% endif %}
  </section>

  <section id="steps">
    <h2>Directions</h2>
    {% for s in r.steps %}
    <hr>
    <div class="step">
      {% if (s.ingredients is defined) and s.ingredients %}
      <div class="ingredient-container">
        <div class="step-ingredient-list">
            <ul>
              {% for i in s['ingredients'] %}
                <li><b>{{ i['amount'] }} {{r.ingredients[i.id].unit}}</b>
                    {{ r.ingredients[i.id].name }}</li>
              {% endfor %}
            </ul>
        </div>
      </div>
      {% endif %}
      <div class="description-container">
        <div class="step-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30px 30px">
            <circle class="{{ s.temp }}" cx="1em" cy="1em" r="1em" />
            <image class="svg-icon" xlink:href="images/icons/{{ s.type }}-light.svg"
                   x="0.25em" y="0.25em"
                   width="1.5em" height="1.5em" />
          </svg>
        </div>
        <div class="step-description">
            <b>{{ s.short }}: </b>
            {{ s.long }}
        </div>
      </div>
    </div>
    {% endfor %}
  </section>

</main>
{% endblock %}
