<svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1"
    viewBox="0 0 100% {{ r.timeline.height }}em"
    height="{{ r.timeline.height }}em">

  <rect x="0" y="0" width="100%" height="{{ r.timeline.height }}em" fill="#f5f5f5" />

  {% for line in r.timeline.lines %}
    <line class="dark-line"
      x1="{{ line.start.x }}%"
      y1="{{ line.start.y }}em"
      x2="{{ line.end.x }}%"
      y2="{{ line.end.y }}em" />
  {% endfor %}
  {% for line in r.timeline.lines %}
    <line class="{{ line.color }}"
      x1="{{ line.start.x }}%"
      y1="{{ line.start.y }}em"
      x2="{{ line.end.x }}%"
      y2="{{ line.end.y }}em" />
  {% endfor %}

  {% for circle in r.timeline.circles %}
    <circle class="{{ circle.color }}"
      cx="{{ circle.center.x }}%"
      cy="{{ circle.center.y }}em"
      r="1.2em" />
    <image class="svg-icon" xlink:href="images/icons/{{ circle.step_type }}-light.svg"
           x="{{ circle.center.x }}%"
           y="{{ circle.center.y }}em"
           width="1.8em" height="1.8em" />
  {% endfor %}

</svg>
