<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100% {{ r.timeline.height }}">

  <rect x="0" y="0" width="100%" height="{{ r.timeline.height }}" fill="#f5f5f5" />

  {% for line in r.timeline.lines %}
    <line class="{{ line.color }}"
      x1="{{ line.start.x }}"
      y1="{{ line.start.y }}"
      x2="{{ line.end.x }}"
      y2="{{ line.end.y }}" />
  {% endfor %}
  {% for line in r.timeline.lines %}
    <line class="thin-line"
      x1="{{ line.start.x }}"
      y1="{{ line.start.y }}"
      x2="{{ line.end.x }}"
      y2="{{ line.end.y }}" />
  {% endfor %}

  {% for circle in r.timeline.circles %}
    <circle class="{{ circle.color }}"
      cx="{{ circle.center.x }}"
      cy="{{ circle.center.y }}"
      r="1em" />
  {% endfor %}

</svg>
