<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100% {{ timeline.height }}">

  <rect x="0" y="0" width="100%" height="{{ timeline.height }}" fill="#eee" />

  {% for line in timeline.lines %}
  <!-- there is at least one outgoing line from each node, with that nodes color -->
    <line class="{{ line.color }}"
      x1="{{ line.start.x }}"
      y1="{{ line.start.y }}"
      x2="{{ line.end.x }}"
      y2="{{ line.end.y }}" /> <!-- 0 -->
  {% endfor %}

  {% for circle in timeline.circles %}
    <circle class="circle.color"
      cx="{{ circle.x }}"
      cy="{{ circle.center.y }}"
      r="8" />
  {% endfor %}

</svg>
